SHARED_SECRET=REPLACE_ME

ROOM_ID=reg_room_1
STATION_ID=reg
DEVICE_ID=scanner_pi_01

SCANNER_DEVICE_NAME=BF SCAN SCAN KEYBOARD

ENDPOINT_URL=https://us-central1-alfarero-478ad.cloudfunctions.net/receiveRoomScanEvent